<nz-modal [(nzVisible)]="visible" nzTitle="{{'label.exportReportTransportCenter' | translate}}" [nzWidth]="500"
    [nzBodyStyle]="{ overflow: 'auto' }" [nzFooter]="null" (nzOnCancel)="onClose()">
    <ng-container *nzModalContent>
        <div class="form-group">
            <label class="mr-3 label-filter">{{
                "busRouteManagement.tramocUnit" | translate
                }}</label>
            <nz-select class="form-control" nzShowSearch [(ngModel)]="selectedTransport"
                (ngModelChange)="onChangeTransportCenter($event)">
                <nz-option [nzLabel]="trackTrace.name" [nzValue]="trackTrace.systemCode"
                    *ngFor="let trackTrace of listTransport">
                </nz-option>
            </nz-select>
        </div>
        <div class="form-group">
            <label class="mr-3 label-filter">{{
                "label.reportType" | translate
                }}</label>
            <nz-select class="form-control" nzShowSearch [(ngModel)]="selectedReportType">
                <nz-option [nzLabel]="item.key" [nzValue]="item" *ngFor="let item of typeReport">
                </nz-option>
            </nz-select>
        </div>
        <div class="form-group">
            <label class="label-filter">{{ "job.daily" | translate }}</label>
            <ng-container *ngIf="selectedReportType?.key != 'MONTHLY'; else monthP">
                <nz-date-picker [nzFormat]="'dd/MM/yyyy'" [nzDisabledDate]="disabledCurrentDate" nzAllowClear="false"
                    [(ngModel)]="datePicker">
                </nz-date-picker>
            </ng-container>
            <ng-template #monthP>
                <nz-date-picker nzMode="month" [nzFormat]="'MM/yyyy'" [nzDisabledDate]="disabledCurrentMonth"
                    [(ngModel)]="monthPicker"></nz-date-picker>
            </ng-template>
        </div>
        <br />
        <div class="table-header">
            <div class="left">
                <button [hidden]="!selectedTransport || !selectedReportType" class="success" nz-button nzType="primary"
                    (click)="onSendReport(1)">
                    <icon-factory iconName="excel"></icon-factory>
                    {{ "common.exportExcel" | translate }}
                </button>
                <button [hidden]="!selectedTransport || !selectedReportType" class="primary ml-3" nz-button
                    nzType="primary" (click)="onSendReport(2)">
                    <icon-factory iconName="paper-plane"></icon-factory>
                    {{ "common.sendReport" | translate }}
                </button>
            </div>
        </div>
    </ng-container>
</nz-modal>