<div [ngSwitch]="styleType">
  <div *ngSwitchDefault>
    <a class="select-lang" nz-dropdown [nzDropdownMenu]="menu">
      <div [ngSwitch]="languageType">
        <div class="select-lang__content" *ngSwitchCase="'en'">
          <img src="../../../../assets/images/en-flag.png" alt="">
        </div>
        <div class="select-lang__content" *ngSwitchDefault>
          <img src="../../../../assets/images/vi-flag.png" alt="">
        </div>
      </div>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li *ngIf="languageType === 'en'" nz-menu-item (click)="onChangeLanguage('vi')">
          <img width="25px" src="../../../../assets/images/vi-flag.png" alt="">
          Tiếng Việt
        </li>
        <li *ngIf="languageType === 'vi'" nz-menu-item (click)="onChangeLanguage('en')">
          <img width="25px" src="../../../../assets/images/en-flag.png" alt="">
          English
        </li>
      </ul>
    </nz-dropdown-menu>
  </div>
  <div *ngSwitchCase="1">
    <div class="group">
      <span>{{'changeLang.chooseLang' | translate}}</span>
      <ul>
        <li *ngFor="let lang of translate.getLangs()" [class.active]="lang == translate.currentLang"
          (click)="onChangeLanguage(lang)">
          <img *ngIf="lang === 'vi'" src="../../../../assets/images/vi-flag.png" alt="">
          <img *ngIf="lang === 'en'" src="../../../../assets/images/en-flag.png" alt="">
        </li>
      </ul>
    </div>
  </div>
</div>