<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Chỉ Định Từ Kỹ Thuật Viên</span>
      <!-- <span class="text-muted mt-1 fw-bold fs-7">Có {{data.total}} chuyên khoa </span> -->
    </h3>
    <!-- <div class="">
    <a (click)="open()" type="button"
      class="btn btn-bg-primary btn-color-light btn-hover-light  btn-active-color-light btn-sm px-4">
      <span>Thêm mới</span>
    </a> -->
    <!-- begin::Menu 2 -->
    <!-- end::Menu 2 -->
    <!-- end::Menu -->
    <!--  </div> -->
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card">
    <div class="card-body">
      <div class="stepper stepper-links d-flex flex-column " id="kt_create_account_stepper">
        <div class="stepper-nav mb-5">
          <div class="stepper-item" [ngClass]="{
              current: currentStep$.value === 1,
              completed: currentStep$.value > 1
            }">
            <h3 class="stepper-title">1. Thông tin cơ bản
            </h3>
          </div>

          <div class="stepper-item" [ngClass]="{
              current: currentStep$.value === 2,
              completed: currentStep$.value > 2
            }">
            <h3 class="stepper-title">2. Chỉ Định Xét Nghiệm
            </h3>
          </div>

          <div class="stepper-item" [ngClass]="{
              current: currentStep$.value === 3,
              completed: currentStep$.value > 3
            }">
            <h3 class="stepper-title">3. Xác nhận chỉ định</h3>
          </div>

          <!-- <div class="stepper-item" [ngClass]="{
              current: currentStep$.value === 4,
              completed: currentStep$.value > 4
            }">
            <h3 class="stepper-title">Billing Details</h3>
          </div>

          <div class="stepper-item" [ngClass]="{ current: currentStep$.value === 5 }">
            <h3 class="stepper-title">Completed</h3>
          </div> -->
        </div>

        <form class="mx-auto  w-100 pb-10" noValidate id="kt_create_account_form">
          <div class="current">
            <div class="current-step-container" [hidden]="currentStep$.value !== 1">
              <app-step-one #stepOneComponent [listDoctor]="data.listDoctor" [listUnitCompany]="data.listUnitCompany">
              </app-step-one>
            </div>

            <div class="current-step-container" [hidden]="currentStep$.value !== 2">
              <app-step-two [listCriteriaSet]="data.listCriteriaSet" [listCriteria]="data.listCriteria"
                [totalSelectedCriteria]="data.totalSelectedCriteria" [selectedCriteria]="selected.listCriteria"
                [selectedSetCriteria]="selected.listCriteriaSet" [triggerCleanProduct]="data.triggerCleanProduct"
                (onChangeTotalSelectedCriteria)="onChangeTotalSelectedCriteria($event)"
                (onChangeDataSelectedCriteria)="onChangeSelectedCriteria($event)"
                (onChangeDataSelectedSetCriteria)="onChangeSelectedSetCriteria($event)"
                [listCategory]="data.listCategory"></app-step-two>
            </div>

            <div class="current-step-container" [hidden]="currentStep$.value !== 3">
              <app-step-three></app-step-three>
            </div>


          </div>

          <div class="d-flex flex-stack pt-15">
            <div class="mr-2">
              <ng-container *ngIf="currentStep$.value !== 1">
                <button type="button" class="btn btn-lg btn-light-primary me-3" (click)="prevStep()">
                  <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arr063.svg'"
                    class="svg-icon svg-icon-4 me-1"></span>
                  Trở về
                </button>
              </ng-container>
            </div>

            <ng-container *ngIf="currentStep$.value !== formsCount">
              <div>
                <button *ngIf="currentStep$.value == 2" type="button" class="btn btn-lg btn-primary me-3 "
                  [ngClass]="{'disabled':!data.totalSelectedCriteria}" (click)="addToCart()">
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      <div class="d-flex align-items-center gap-3">
                        <span>Thêm Vào Chỉ Định {{ " " }}</span>
                        <span nz-icon class="d-flex align-items-center" nzType="plus"></span>
                      </div>

                    </ng-container>

                  </span>
                </button>
                <button *ngIf="currentStep$.value == 2 && visible.visibleButtonViewCart" type="button"
                  class="btn btn-lg btn-primary me-3 " (click)="nextStep()">
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      <div class="d-flex align-items-center gap-3">
                        <span>Xem Chỉ Định Đã Thêm</span>
                        <span nz-icon class="d-flex align-items-center" nzType="schedule" nzTheme="outline"></span>
                      </div>

                    </ng-container>

                  </span>
                </button>
                <button type="button" class="btn btn-lg btn-primary me-3 " (click)="nextStep()">
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      <div class="d-flex align-items-center gap-3">
                        <span> Tiếp Tục</span>
                        <span nz-icon class="d-flex align-items-center" nzType="arrow-right" nzTheme="outline"></span>
                      </div>

                    </ng-container>

                  </span>
                </button>
                <!-- <button type="button" class="btn btn-lg btn-primary me-3" (click)="nextStep()">
                  <span class="indicator-label">
                    <ng-container *ngIf="currentStep$.value < formsCount - 1">
                      Tiếp Tục
                      <span nz-icon class="d-flex align-items-center" nzType="arrow-right" nzTheme="outline"></span>

                    </ng-container>
                    <ng-container *ngIf="currentStep$.value === formsCount - 1">
                      Gửi
                    </ng-container>
                  </span>
                </button> -->
              </div>
            </ng-container>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-container>


  </ng-container>
</div>
