<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">Danh sách Chỉ tiêu xét nghiệm</span>
      <span class="text-muted mt-1 fw-bold fs-7"></span>
    </h3>
    <div class="">
      <!-- begin::Menu -->
      <a (click)="open()" type="button"
        class="btn btn-bg-primary btn-color-light btn-hover-light  btn-active-color-light btn-sm px-4">
        <span>Thêm mới</span>
      </a>
      <!-- begin::Menu 2 -->
      <!-- end::Menu 2 -->
      <!-- end::Menu -->
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
      <!-- begin::Table -->
      <table class="table align-middle gs-0 gy-4">
        <!-- begin::Table head -->
        <thead>
          <tr class="fw-bolder text-muted bg-light">
            <th class="ps-4 min-w-150px">Chỉ tiêu / Nội dung xét nghiệm</th>
            <th class="min-w-140px text-start">Thể loại Xét Nghiệm</th>
            <th class="min-w-140px text-end">Chỉ số tham khảo</th>
            <th class="min-w-140px text-end">Giá Hệ Thống</th>
            <th class="min-w-140px text-end">Ngày Tạo</th>
            <th class="min-w-100px"></th>
          </tr>
        </thead>
        <!-- end::Table head -->
        <!-- begin::Table body -->
        <tbody>
          <tr *ngFor="let item of data.listCriteria">

            <td class="ps-4">
              <span class="text-dark  fw-bolder d-block mb-1 fs-">
                {{item.name}}
              </span>

            </td>
            <td>

              <span class="text-dark  fw-bolder d-block mb-1 text-start">
                {{item.category.name}}
              </span>

            </td>
            <td>

              <span class="text-dark  fw-bolder d-block mb-1 text-end">
                {{item.referenceIndex}}
              </span>

            </td>
            <td>

              <span class="text-dark  fw-bolder d-block mb-1 text-end">
                {{item.priceMaster |numberLabel}}
              </span>

            </td>
            <td>

              <span class="text-dark  fw-bolder d-block mb-1 text-end">
                {{item.createdAt | date: 'dd/MM/YYYY'}}
              </span>

            </td>
            <td class="text-end">

              <a (click)="edit(item)" class="
                btn btn-bg-light btn-color-muted  btn-active-color-muted btn-sm
                px-4 me-3
              ">
                Edit
              </a>
              <a (click)="delete(item)" class="
              btn btn-bg-danger btn-color-light  btn-active-color-light btn-sm
              px-4

            ">
                Xóa
              </a>
            </td>
          </tr>

        </tbody>
        <!-- end::Table body -->
      </table>
      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->
</div>
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzWidth]="720" [nzVisible]="data.visible" [nzTitle]="data.titleDrawer"
  [nzFooter]="footerTpl" (nzOnClose)="close()">
  <form nz-form [formGroup]="criteriaForm" *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Chỉ tiêu</nz-form-label>
          <nz-form-control [nzSpan]="20" [nzErrorTip]="usernameErr">
            <input formControlName="name" nz-input placeholder="Nhập chỉ tiêu" />
            <ng-template #usernameErr let-control>
              <app-error-messages [control]="criteriaFormControl['name']" [messageObject]="{labelName:'Chỉ tiêu'}">
              </app-error-messages>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Thể loại xét nghiệm</nz-form-label>
          <nz-form-control [nzErrorTip]="categoryErr" [nzSpan]="20">
            <nz-select nzPlaceHolder="Chọn Thể loại xét nghiệm" nzAllowClear="true" formControlName="category">
              <nz-option *ngFor="let category of data.listCategory" [nzValue]="category?._id" [nzLabel]="category.name">
              </nz-option>
            </nz-select>
            <ng-template #categoryErr let-control>
              <app-error-messages [control]="criteriaFormControl['category']"
                [messageObject]="{labelName:'Thể loại xét nghiệm'}">
              </app-error-messages>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Chỉ số tham khảo</nz-form-label>
          <nz-form-control [nzSpan]="20" [nzErrorTip]="referenceIndexErr">
            <textarea formControlName="referenceIndex" nz-input placeholder="Nhập Chỉ số tham khảo"></textarea>
            <ng-template #referenceIndexErr let-control>
              <app-error-messages [control]="criteriaFormControl['referenceIndex']"
                [messageObject]="{labelName:'Chỉ số tham khảo'}">
              </app-error-messages>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">Giá hệ thống</nz-form-label>
          <nz-form-control [nzErrorTip]="priceMasterErr" [nzSpan]="20">
            <nz-input-number class="w-100" formControlName="priceMaster" [nzFormatter]="formatterNumber">
            </nz-input-number>
            <ng-template #priceMasterErr let-control>
              <app-error-messages [control]="criteriaFormControl['priceMaster']"
                [messageObject]="{labelName:'Giá hệ thống'}">
              </app-error-messages>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Hủy Bỏ</button>
      <button nz-button nzType="primary" (click)="onSubmit()">Tạo</button>
    </div>
  </ng-template>
</nz-drawer>
