<!-- <button style="cursor: unset;" [disabled]="true" nz-button nzType="primary"
  [ngClass]="{success: status, info: !status}">
  <icon-factory [iconName]="status ? 'check' : 'ban'"></icon-factory> {{status ?
  ('input.active' | translate) : ('input.inactive' | translate)}}
</button> -->

<nz-tag [nzColor]="status ? 'green' : 'red'" class="w-100 p-2">
  <icon-factory [iconName]="status ? 'check' : 'ban'"></icon-factory>
  <span>{{status ? ('input.active' | translate) : ('input.inactive' | translate)}}</span>
</nz-tag>