<nz-tabset>
  <nz-tab [nzTitle]="titleSetIndication">
    <ng-template #titleSetIndication>
      <div class="d-flex align-items-center">
        <span nz-icon nzType="group"></span>
        <span>Gói Xét Nghiệm</span>
      </div>

    </ng-template>
    <app-select-set-criteria [listCriteriaSet]="listCriteriaSet"></app-select-set-criteria>
  </nz-tab>
  <nz-tab [nzTitle]="titleIndication">
    <ng-template #titleIndication>
      <div class="d-flex align-items-center">
        <span nz-icon nzType="medicine-box"></span>
        <span>Chỉ tiêu/ Nội dung xét nghiệm</span>
      </div>

    </ng-template>
    <app-select-criteria [listCriteria]="listCriteria" [listCategory]="listCategory"></app-select-criteria>
  </nz-tab>
</nz-tabset>
